<div class='resource-list-panel'>
  <h3>Past Events</h3>

  <p>
    <a href='#' {{action 'createEvent'}}>New Event</a>
  </p>

  <ul>
    {{#each model as |event|}}
      <li>
        {{#link-to 'event' event.id}}
          {{moment-from-now event.created_at}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class='resource-panel'>
  {{outlet}}
</div>
